@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: auto;
    font-weight: auto;
  }

  :root {
    --background: #283197;
    --foreground: #ececec;

    --card: #f5f5f7;
    --card-foreground: #0a0e19;

    --popover: #ffffff;
    --popover-foreground: #0a0e19;

    --primary: #16181d;
    --primary-foreground: #f4f9ff;

    --secondary: #f4f9ff;
    --secondary-foreground: #16181d;

    --muted: #f4f9ff;
    --muted-foreground: #5b6773;

    --accent: #f4f9ff;
    --accent-foreground: #16181d;

    --destructive: #ff5a5a;
    --destructive-foreground: #f4f9ff;

    --border: #e5e5e5;
    --input: #eaf2ff;
    --ring: #0a0e19;

    --radius: 0.2rem;

    --success: #65c1e3;
    --warning: #ffd466;
    --error: #ff8989;
  }
}
